:root {
  --green: #00b050;

  --white: #fff;
  --grey-1: #7a7a7a;
  --grey-2: #dadada;
  --grey-3: #eeeeee;
  --grey-4: #fafafa;
  --black: #000;

  --white-tp: rgba(255, 255, 255, 0.5);
  --black-tp: rgba(0, 0, 0, 0.3);

  --blue-gradient: linear-gradient(to bottom, #fff, #ccf9ff, #55d0ff, #fff);

  --font: "Poppins", Arial, sans-serif;

  --heading-h1: 48px;
  --heading-h2: 32px;
  --heading-h4: 24px;
  --heading-h6: 18px;
  --body: 16px;
  --subtitle: 14px;
}
